@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Ubuntu:wght@500&display=swap');

body {
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  max-width: 1280px;
  margin: auto;
}

#header {
  display: flex;
  gap: 20px;
  font-size: 24px;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

#header a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-family: "Ubuntu";
}

#header a:hover {
  background-color: #515968;
  height: 100%;
}

#home {
  font-size: 30px;
  margin-right: auto;
  font-family: "Quicksand";
}

@media screen and (max-width: 720px) {
  #header {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr;
    font-size: 14px;
  }

  #header a {
    place-self: center;
  }

  #home {
    grid-column: 1/6;
    grid-row: 1;
    margin-right: auto;
    margin-left: auto;
  }
}